#es-rc #es-rc-content {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #000000;
  background-color: #ecf5fe;
  max-width: 1300px;
  margin: auto;
  container-type: inline-size;
  container-name: es-rc-content;
}
#es-rc #es-rc-content ::-moz-selection {
  background-color: #009fe9;
  color: #ffffff;
}
#es-rc #es-rc-content ::selection {
  background-color: #009fe9;
  color: #ffffff;
}
#es-rc #es-rc-content * {
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}
#es-rc #es-rc-content p {
  margin: 0;
}
#es-rc #es-rc-content img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content button {
  display: block;
}
#es-rc #es-rc-content figure {
  display: block;
}
#es-rc #es-rc-content figure,
#es-rc #es-rc-content figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
#es-rc #es-rc-content .es-disclaimer {
  font-size: 14px;
  text-wrap: balance;
}
@media (min-width: 1200px) {
  #es-rc #es-rc-content .es-disclaimer {
    font-size: 7px;
  }
}
#es-rc #es-rc-content .es-kv__right__logo, #es-rc #es-rc-content .es-kv__right__no1 {
  max-width: 330.6666666667px;
}
#es-rc #es-rc-content .es-kv__right__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  font-size: 26px;
  margin-block: 32px;
}
#es-rc #es-rc-content .es-kv__right__text--bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
#es-rc #es-rc-content .es-kv__right__no1 {
  padding-inline: 32px;
}
#es-rc #es-rc-content .es-kv__right__disclaimer {
  text-align: center;
  margin-block: 16px;
}
#es-rc #es-rc-content .es-kv__left__img {
  display: none;
}
@container es-rc-content (min-width: 576px) {
  #es-rc #es-rc-content .es-kv__left__img {
    display: block;
  }
}
#es-rc #es-rc-content .es-kv__left__bestseller__wrapper {
  position: relative;
}
#es-rc #es-rc-content .es-kv__left__bestseller--txt {
  position: absolute;
  top: 16px;
  left: 50%;
  padding: 4px 8px;
  background-color: #009fe9;
  color: #ecf5fe;
  transform: translateX(-50%);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
}
#es-rc #es-rc-content .es-kv__left__tradzik__wrapper {
  position: relative;
}
#es-rc #es-rc-content .es-kv__left__tradzik--txt {
  position: absolute;
  top: 16px;
  left: 50%;
  color: #ecf5fe;
  transform: translateX(-50%);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  display: flex;
  width: 100%;
  padding-inline: 16px;
}
#es-rc #es-rc-content .es-kv__left__tradzik--txt--ml {
  width: 64%;
}
#es-rc #es-rc-content .es-kv__left__tradzik--txt--dr {
  width: 36%;
}
@container es-rc-content (min-width: 576px) {
  #es-rc #es-rc-content .es-kv__left {
    position: relative;
  }
  #es-rc #es-rc-content .es-kv__left__bestseller__wrapper, #es-rc #es-rc-content .es-kv__left__tradzik__wrapper {
    position: static;
  }
  #es-rc #es-rc-content .es-kv__left__bestseller--img, #es-rc #es-rc-content .es-kv__left__tradzik--img {
    display: none;
  }
  #es-rc #es-rc-content .es-kv__left__bestseller--txt {
    left: 16%;
  }
  #es-rc #es-rc-content .es-kv__left__tradzik--txt {
    padding-inline: 0;
    width: 66%;
    left: 66%;
  }
  #es-rc #es-rc-content .es-kv__left__bestseller--txt, #es-rc #es-rc-content .es-kv__left__tradzik--txt {
    top: 8px;
  }
}
@container es-rc-content (min-width: 768px) {
  #es-rc #es-rc-content .es-kv__left__bestseller--txt, #es-rc #es-rc-content .es-kv__left__tradzik--txt {
    top: 24px;
  }
  #es-rc #es-rc-content .es-kv__left__tradzik--txt {
    width: 50%;
    left: 74%;
  }
  #es-rc #es-rc-content .es-kv__left__tradzik--txt--ml, #es-rc #es-rc-content .es-kv__left__tradzik--txt--dr {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  #es-rc #es-rc-content .es-kv__left__bestseller--txt, #es-rc #es-rc-content .es-kv__left__tradzik--txt {
    top: 16px;
  }
  #es-rc #es-rc-content .es-kv__left__tradzik--txt {
    width: 37%;
    left: 50%;
  }
  #es-rc #es-rc-content .es-kv__left__bestseller--txt {
    left: 9%;
  }
}
@media (min-width: 1200px) {
  #es-rc #es-rc-content .es-kv {
    position: relative;
  }
  #es-rc #es-rc-content .es-kv__right {
    position: absolute;
    top: 0;
    right: 2%;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #es-rc #es-rc-content .es-kv__right__logo, #es-rc #es-rc-content .es-kv__right__no1 {
    padding-inline: 40px;
  }
  #es-rc #es-rc-content .es-kv__right__text {
    margin: 32px 0 24px 0;
  }
  #es-rc #es-rc-content .es-kv__right__disclaimer {
    margin-block: 8px;
  }
}
#es-rc #es-rc-content .es-bandaid {
  text-align: center;
}
#es-rc #es-rc-content .es-bandaid__left {
  padding: 16px;
}
#es-rc #es-rc-content .es-bandaid__left__new {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  background-color: #009fe9;
  color: #ffffff;
  padding: 4px 8px;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-bottom: 16px;
}
#es-rc #es-rc-content .es-bandaid__left__new:hover {
  scale: 1.05;
}
#es-rc #es-rc-content .es-bandaid__left__txt {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 50px;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-bandaid__left__txt--bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
#es-rc #es-rc-content .es-bandaid__left__txt--smaller {
  font-size: 35px;
}
#es-rc #es-rc-content .es-bandaid__left__txt--3h {
  margin-block: 24px;
}
#es-rc #es-rc-content .es-bandaid__right__txt {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin-block: 16px;
  color: #00302d;
}
#es-rc #es-rc-content .es-bandaid__right__txt--uppercase {
  text-transform: uppercase;
}
@container es-rc-content (min-width: 576px) {
  #es-rc #es-rc-content .es-bandaid__left {
    text-align: left;
    padding: 32px;
  }
  #es-rc #es-rc-content .es-bandaid__right {
    position: relative;
  }
  #es-rc #es-rc-content .es-bandaid__right__txt {
    position: absolute;
    top: 16px;
    left: 22%;
    z-index: 1;
    transform: translateX(-50%);
  }
}
@media (min-width: 1200px) {
  #es-rc #es-rc-content .es-bandaid {
    display: flex;
  }
  #es-rc #es-rc-content .es-bandaid__left {
    padding-right: 0;
    width: 50%;
    margin-right: -3%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #es-rc #es-rc-content .es-bandaid__right__txt {
    left: unset;
    right: -9%;
    top: 0;
    color: #a2d6d7;
  }
}
#es-rc #es-rc-content .es-features {
  padding: 24px;
  text-align: center;
}
#es-rc #es-rc-content .es-features__bg {
  display: none;
}
#es-rc #es-rc-content .es-features__about {
  margin-block: 24px;
  font-size: 25px;
}
#es-rc #es-rc-content .es-features__flex-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-block: 16px;
}
#es-rc #es-rc-content .es-features__flex-item {
  display: flex;
  align-items: center;
  gap: 8px;
}
#es-rc #es-rc-content .es-features__flex-item:hover .es-features__flex-item__img {
  scale: 1.1;
}
#es-rc #es-rc-content .es-features__flex-item__img {
  max-width: 32px;
  margin: 0;
}
#es-rc #es-rc-content .es-features__flex-item__txt {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #009fe9;
  text-transform: uppercase;
  text-align: left;
}
@container es-rc-content (min-width: 576px) {
  #es-rc #es-rc-content .es-features {
    text-align: left;
  }
}
@container es-rc-content (min-width: 992px) {
  #es-rc #es-rc-content .es-features {
    position: relative;
    padding: 0;
  }
  #es-rc #es-rc-content .es-features__bg {
    display: block;
    min-height: 400px;
  }
  #es-rc #es-rc-content .es-features__content {
    padding: 32px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    max-width: 1000px;
    height: 100%;
  }
  #es-rc #es-rc-content .es-features__flex-wrapper {
    flex-direction: row;
  }
  #es-rc #es-rc-content .es-features__flex-item {
    flex: 1 1 0;
  }
  #es-rc #es-rc-content .es-features__flex-item__img {
    max-width: 44px;
  }
}
#es-rc #es-rc-content .es-cross {
  text-align: center;
  padding: 24px;
}
#es-rc #es-rc-content .es-cross__headline {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
#es-rc #es-rc-content .es-cross__headline--bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
#es-rc #es-rc-content .es-cross__flex-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#es-rc #es-rc-content .es-cross__flex-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#es-rc #es-rc-content .es-cross__flex-item__step {
  background-color: #009fe9;
  color: #ffffff;
  padding: 4px 8px;
  max-width: -moz-max-content;
  max-width: max-content;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  margin-inline: auto;
  margin-bottom: 8px;
}
#es-rc #es-rc-content .es-cross__flex-item__desc {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#es-rc #es-rc-content .es-cross__flex-item__name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
#es-rc #es-rc-content .es-cross__flex-item__img {
  max-height: 300px;
  width: auto;
}
#es-rc #es-rc-content .es-cross__flex-item__img:hover {
  scale: 1.05;
}
@container es-rc-content (max-width: 1199.99px) {
  #es-rc #es-rc-content .es-cross {
    background-image: none !important;
  }
  #es-rc #es-rc-content .es-cross__numbers {
    display: none;
  }
}
@container es-rc-content (min-width: 576px) {
  #es-rc #es-rc-content .es-cross {
    text-align: left;
  }
  #es-rc #es-rc-content .es-cross__flex-wrapper {
    align-items: center;
  }
  #es-rc #es-rc-content .es-cross__flex-item {
    max-width: 500px;
  }
  #es-rc #es-rc-content .es-cross__flex-item__desc-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 24px;
  }
  #es-rc #es-rc-content .es-cross__flex-item__step {
    min-width: -moz-max-content;
    min-width: max-content;
    margin: 0;
  }
}
@container es-rc-content (min-width: 1200px) {
  #es-rc #es-rc-content .es-cross {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 24px 0 24px 32px;
    position: relative;
  }
  #es-rc #es-rc-content .es-cross__flex-wrapper {
    align-items: flex-start;
  }
  #es-rc #es-rc-content .es-cross__flex-item {
    max-width: 650px;
  }
  #es-rc #es-rc-content .es-cross__flex-item__img {
    display: none;
  }
  #es-rc #es-rc-content .es-cross__flex-item__link {
    width: 13%;
    height: 88%;
    position: absolute;
    bottom: 0;
    border-radius: 8px;
  }
  #es-rc #es-rc-content .es-cross__flex-item__link:focus {
    outline: 4px solid #009fe9;
    outline-offset: 4px;
  }
  #es-rc #es-rc-content .es-cross__flex-item__link:hover {
    background-color: rgba(0, 159, 233, 0.2);
  }
  #es-rc #es-rc-content .es-cross__flex-item__link--1 {
    left: 55%;
  }
  #es-rc #es-rc-content .es-cross__flex-item__link--2 {
    left: 69%;
    height: 65%;
  }
  #es-rc #es-rc-content .es-cross__flex-item__link--3 {
    left: 82%;
    height: 65%;
    width: 15%;
  }
  #es-rc #es-rc-content .es-cross__numbers {
    display: flex;
    justify-content: space-between;
    width: 28%;
    position: absolute;
    top: 40%;
    left: 56%;
  }
  #es-rc #es-rc-content .es-cross__numbers p {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #009fe9;
  }
}
#es-rc #es-rc-content .es-effects {
  color: #ffffff;
  text-transform: uppercase;
  padding: 24px;
  text-align: center;
  background-size: cover;
  background-position: right;
}
#es-rc #es-rc-content .es-effects ::-moz-selection {
  background-color: #00a599;
  color: #ffffff;
}
#es-rc #es-rc-content .es-effects ::selection {
  background-color: #00a599;
  color: #ffffff;
}
#es-rc #es-rc-content .es-effects__new {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  background-color: #00a599;
  padding: 4px 8px;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: auto;
}
#es-rc #es-rc-content .es-effects__new:hover {
  scale: 1.05;
}
#es-rc #es-rc-content .es-effects__headline {
  font-size: 50px;
  margin-block: 32px;
}
#es-rc #es-rc-content .es-effects__headline--bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
#es-rc #es-rc-content .es-effects__txt {
  font-size: 25px;
}
#es-rc #es-rc-content .es-effects__txt--bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
#es-rc #es-rc-content .es-effects__flex-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#es-rc #es-rc-content .es-effects__flex-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#es-rc #es-rc-content .es-effects__number {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 110px;
}
@container es-rc-content (min-width: 440px) {
  #es-rc #es-rc-content .es-effects__flex-wrapper {
    align-items: center;
    margin-block: 24px;
  }
  #es-rc #es-rc-content .es-effects__flex-item {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }
}
@container es-rc-content (min-width: 576px) {
  #es-rc #es-rc-content .es-effects {
    text-align: left;
  }
  #es-rc #es-rc-content .es-effects__content {
    max-width: 670px;
    margin-left: auto;
  }
  #es-rc #es-rc-content .es-effects__new {
    margin: 0;
  }
  #es-rc #es-rc-content .es-effects__headline {
    margin: 8px 0 8px 0;
  }
  #es-rc #es-rc-content .es-effects__flex-wrapper {
    flex-direction: row;
    margin-block: 0;
    gap: 32px;
  }
}
#es-rc #es-rc-content .es-recommend {
  padding: 24px;
  text-align: center;
  background-size: cover;
  background-position: left;
}
#es-rc #es-rc-content .es-recommend ::-moz-selection {
  background-color: #00302d;
  color: #ffffff;
}
#es-rc #es-rc-content .es-recommend ::selection {
  background-color: #00302d;
  color: #ffffff;
}
#es-rc #es-rc-content .es-recommend__content {
  max-width: -moz-max-content;
  max-width: max-content;
  margin: auto;
}
#es-rc #es-rc-content .es-recommend__txt {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 50px;
  text-transform: uppercase;
  word-break: break-word;
  margin-block: 32px;
}
#es-rc #es-rc-content .es-recommend__txt--bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
@container es-rc-content (min-width: 768px) {
  #es-rc #es-rc-content .es-recommend__content {
    margin-left: 5%;
  }
}
@media (prefers-reduced-motion: reduce) {
  #es-rc #es-rc-content * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}/*# sourceMappingURL=styles.css.map */