@charset "UTF-8";

// set up variables

$text-main: "Montserrat", sans-serif;

$fw-regular: 400;
$fw-bold: 700;

$fs-base: 16px;
$fs-disclaimer-dt: 7px;
$fs-disclaimer-mb: 14px;

$px-XS: 4px;
$px-S: 8px;
$px-M: 16px;
$px-L: 24px;
$px-XL: 32px;
$px-XXL: 40px;

$max-width: 1300px;

$color-main: #000000;
$color-white: #ffffff;
$color-bg: #ecf5fe;
$color-accent-blue: #009fe9;
$color-accent-teal: #a2d6d7;
$color-accent-mid-teal: #00a599;
$color-accent-dark-teal: #00302d;

$transition: all 0.2s ease-in-out;

$media-breakpoint-sm: 576px;
$media-breakpoint-md: 768px;
$media-breakpoint-lg: 992px;
$media-breakpoint-xl: 1200px;

@mixin mt-regular {
  font-family: $text-main;
  font-weight: $fw-regular;
}

@mixin mt-bold {
  font-family: $text-main;
  font-weight: $fw-bold;
}

#es-rc #es-rc-content {
  @include mt-regular();
  font-size: $fs-base;
  line-height: 1.2;
  color: $color-main;
  background-color: $color-bg;
  max-width: $max-width;
  margin: auto;
  container-type: inline-size;
  container-name: es-rc-content;

  ::selection {
    background-color: $color-accent-blue;
    color: $color-white;
  }

  // minimal css reset

  * {
    box-sizing: border-box;
    transition: $transition;
  }

  p {
    margin: 0;
  }

  img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  button {
    display: block;
  }

  figure {
    display: block;
  }

  figure,
  figcaption {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  .es-disclaimer {
    font-size: $fs-disclaimer-mb;
    text-wrap: balance;
    @media (min-width: 1200px) {
      font-size: $fs-disclaimer-dt;
    }
  }

  .es-kv {
    &__right {
      &__logo,
      &__no1 {
        max-width: calc($media-breakpoint-lg / 3);
      }
      &__text {
        @include mt-regular();
        text-transform: uppercase;
        text-align: center;
        font-size: 26px;
        margin-block: $px-XL;
        &--bold {
          @include mt-bold();
        }
      }
      &__no1 {
        padding-inline: $px-XL;
      }
      &__disclaimer {
        text-align: center;
        margin-block: $px-M;
      }
    }
    &__left {
      &__img {
        display: none;
        @container es-rc-content (min-width: 576px) {
          display: block;
        }
      }
      &__bestseller {
        &__wrapper {
          position: relative;
        }
        &--txt {
          position: absolute;
          top: $px-M;
          left: 50%;
          padding: $px-XS $px-S;
          background-color: $color-accent-blue;
          color: $color-bg;
          transform: translateX(-50%);
          @include mt-bold();
          text-transform: uppercase;
          font-size: 15px;
          text-align: center;
        }
      }
      &__tradzik {
        &__wrapper {
          position: relative;
        }
        &--txt {
          position: absolute;
          top: $px-M;
          left: 50%;
          color: $color-bg;
          transform: translateX(-50%);
          @include mt-bold();
          text-transform: uppercase;
          font-size: 15px;
          text-align: center;
          display: flex;
          width: 100%;
          padding-inline: $px-M;
          &--ml {
            width: 64%;
          }
          &--dr {
            width: 36%;
          }
        }
      }
      @container es-rc-content (min-width: 576px) {
        position: relative;
        &__bestseller__wrapper,
        &__tradzik__wrapper {
          position: static;
        }
        &__bestseller--img,
        &__tradzik--img {
          display: none;
        }
        &__bestseller--txt {
          left: 16%;
        }
        &__tradzik--txt {
          padding-inline: 0;
          width: 66%;
          left: 66%;
        }
        &__bestseller--txt,
        &__tradzik--txt {
          top: $px-S;
        }
      }
      @container es-rc-content (min-width: 768px) {
        &__bestseller--txt,
        &__tradzik--txt {
          top: $px-L;
        }
        &__tradzik--txt {
          width: 50%;
          left: 74%;
          &--ml,
          &--dr {
            width: 50%;
          }
        }
      }
      @media (min-width: 1200px) {
        &__bestseller--txt,
        &__tradzik--txt {
          top: $px-M;
        }
        &__tradzik--txt {
          width: 37%;
          left: 50%;
        }
        &__bestseller--txt {
          left: 9%;
        }
      }
    }
    @media (min-width: 1200px) {
      position: relative;
      &__right {
        position: absolute;
        top: 0;
        right: 2%;
        z-index: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__logo,
        &__no1 {
          padding-inline: $px-XXL;
        }
        &__text {
          margin: $px-XL 0 $px-L 0;
        }
        &__disclaimer {
          margin-block: $px-S;
        }
      }
    }
  }

  .es-bandaid {
    text-align: center;
    &__left {
      padding: $px-M;
      &__new {
        @include mt-bold();
        font-size: 28px;
        text-transform: uppercase;
        background-color: $color-accent-blue;
        color: $color-white;
        padding: $px-XS $px-S;
        max-width: max-content;
        margin-bottom: $px-M;
        &:hover {
          scale: 1.05;
        }
      }
      &__txt {
        @include mt-regular();
        font-size: 50px;
        text-transform: uppercase;
        &--bold {
          @include mt-bold();
        }
        &--smaller {
          font-size: 35px;
        }
        &--3h {
          margin-block: $px-L;
        }
      }
    }
    &__right {
      &__txt {
        @include mt-bold();
        font-size: 15px;
        margin-block: $px-M;
        color: $color-accent-dark-teal;
        &--uppercase {
          text-transform: uppercase;
        }
      }
    }
    @container es-rc-content (min-width: 576px) {
      &__left {
        text-align: left;
        padding: $px-XL;
      }

      &__right {
        position: relative;
        &__txt {
          position: absolute;
          top: $px-M;
          left: 22%;
          z-index: 1;
          transform: translateX(-50%);
        }
      }
    }
    @media (min-width: 1200px) {
      display: flex;
      &__left {
        padding-right: 0;
        width: 50%;
        margin-right: -3%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      &__right {
        &__txt {
          left: unset;
          right: -9%;
          top: 0;
          color: $color-accent-teal;
        }
      }
    }
  }

  .es-features {
    padding: $px-L;
    text-align: center;
    &__bg {
      display: none;
    }
    &__about {
      margin-block: $px-L;
      font-size: 25px;
    }
    &__flex-wrapper {
      display: flex;
      flex-direction: column;
      gap: $px-M;
      margin-block: $px-M;
    }
    &__flex-item {
      display: flex;
      align-items: center;
      gap: $px-S;
      &:hover .es-features__flex-item__img {
        scale: 1.1;
      }
      &__img {
        max-width: 32px;
        margin: 0;
      }
      &__txt {
        @include mt-bold();
        font-size: 17px;
        color: $color-accent-blue;
        text-transform: uppercase;
        text-align: left;
      }
    }
    @container es-rc-content (min-width: 576px) {
      text-align: left;
    }
    @container es-rc-content (min-width: 992px) {
      position: relative;
      padding: 0;
      &__bg {
        display: block;
        min-height: 400px;
      }
      &__content {
        padding: $px-XL;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%;
        max-width: 1000px;
        height: 100%;
      }
      &__flex-wrapper {
        flex-direction: row;
      }
      &__flex-item {
        flex: 1 1 0;
        &__img {
          max-width: 44px;
        }
      }
    }
  }

  .es-cross {
    text-align: center;
    padding: $px-L;
    &__headline {
      font-size: 30px;
      text-transform: uppercase;
      margin-bottom: $px-XL;
      &--bold {
        @include mt-bold();
      }
    }
    &__flex-wrapper {
      display: flex;
      flex-direction: column;
      gap: $px-XXL;
    }
    &__flex-item {
      display: flex;
      flex-direction: column;
      gap: $px-M;
      &__step {
        background-color: $color-accent-blue;
        color: $color-white;
        padding: $px-XS $px-S;
        max-width: max-content;
        @include mt-bold();
        font-size: 22px;
        text-transform: uppercase;
        margin: auto;
      }
      &__desc {
        font-size: 18px;
        display: flex;
        flex-direction: column;
        gap: $px-S;
      }
      &__name {
        @include mt-bold();
      }
      &__img {
        max-height: 300px;
        width: auto;
        &:hover {
          scale: 1.05;
        }
      }
    }
    @container es-rc-content (max-width: 1199.99px) {
      background-image: none !important;
      &__numbers {
        display: none;
      }
    }
    @container es-rc-content (min-width: 576px) {
      text-align: left;
      &__flex-wrapper {
        align-items: center;
      }
      &__flex-item {
        max-width: 500px;
        &__desc-wrapper {
          display: flex;
          align-items: flex-start;
          gap: $px-L;
        }
        &__step {
          min-width: max-content;
          margin: 0;
        }
      }
    }

    @container es-rc-content (min-width: 1200px) {
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: bottom;
      padding: $px-L 0 $px-L $px-XL;
      position: relative;
      &__flex-wrapper {
        align-items: flex-start;
      }
      &__flex-item {
        max-width: 650px;
        &__img {
          display: none;
        }
        &__link {
          width: 13%;
          height: 88%;
          position: absolute;
          bottom: 0;
          border-radius: 8px;
          &:focus {
            outline: 4px solid $color-accent-blue;
            outline-offset: 4px;
          }
          &:hover {
            background-color: rgba($color-accent-blue, 0.2);
          }
          &--1 {
            left: 55%;
          }
          &--2 {
            left: 69%;
            height: 65%;
          }
          &--3 {
            left: 82%;
            height: 65%;
            width: 15%;
          }
        }
      }
      &__numbers {
        display: flex;
        justify-content: space-between;
        width: 28%;
        position: absolute;
        top: 40%;
        left: 56%;
        & p {
          @include mt-bold();
          font-size: 22px;
          color: $color-accent-blue;
        }
      }
    }
  }

  .es-effects {
    color: $color-white;
    text-transform: uppercase;
    padding: $px-L;
    text-align: center;
    background-size: cover;
    background-position: right;

    ::selection {
      background-color: $color-accent-mid-teal;
      color: $color-white;
    }
    &__new {
      @include mt-bold();
      font-size: 20px;
      background-color: $color-accent-mid-teal;
      padding: $px-XS $px-S;
      max-width: max-content;
      margin: auto;
      &:hover {
        scale: 1.05;
      }
    }
    &__headline {
      font-size: 50px;
      margin-block: $px-XL;
      &--bold {
        @include mt-bold();
      }
    }
    &__txt {
      font-size: 25px;
      &--bold {
        @include mt-bold();
      }
    }
    &__flex-wrapper {
      display: flex;
      flex-direction: column;
      gap: $px-L;
    }
    &__flex-item {
      display: flex;
      flex-direction: column;
      gap: $px-M;
    }
    &__number {
      @include mt-bold();
      font-size: 110px;
    }
    @container es-rc-content (min-width: 440px) {
      &__flex-wrapper {
        align-items: center;
        margin-block: $px-L;
      }
      &__flex-item {
        flex-direction: row;
        align-items: center;
        text-align: left;
      }
    }
    @container es-rc-content (min-width: 576px) {
      text-align: left;
      &__content {
        max-width: 670px;
        margin-left: auto;
      }
      &__new {
        margin: 0;
      }
      &__headline {
        margin: $px-S 0 $px-S 0;
      }
      &__flex-wrapper {
        flex-direction: row;
        margin-block: 0;
        gap: $px-XL;
      }
    }
  }

  // accessibility improvement for animations
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}
