@charset "UTF-8";

// set up variables

$text-main: "Montserrat", sans-serif;

$fw-regular: 400;
$fw-bold: 700;

$fs-base: 16px;
$fs-disclaimer-dt: 7px;
$fs-disclaimer-mb: 14px;

$px-XS: 4px;
$px-S: 8px;
$px-M: 16px;
$px-L: 24px;
$px-XL: 32px;
$px-XXL: 40px;

$max-width: 1300px;

$color-main: #000000;
$color-bg: #ffffff;
$color-accent-blue: #009fe9;
$color-accent-teal: #a2d6d7;
$color-accent-dark-teal: #00302d;

$media-breakpoint-sm: 576px;
$media-breakpoint-md: 768px;
$media-breakpoint-lg: 992px;
$media-breakpoint-xl: 1200px;

@mixin mt-regular {
  font-family: $text-main;
  font-weight: $fw-regular;
}

@mixin mt-bold {
  font-family: $text-main;
  font-weight: $fw-bold;
}

#es-rc #es-rc-content {
  @include mt-regular();
  font-size: $fs-base;
  line-height: 1.2;
  color: $color-main;
  background-color: $color-bg;
  max-width: $max-width;
  margin: auto;
  container-type: inline-size;
  container-name: es-rc-content;

  ::selection {
    background-color: $color-accent-dark-teal;
    color: $color-bg;
  }

  // minimal css reset

  * {
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  button {
    display: block;
  }

  figure {
    display: block;
  }

  figure,
  figcaption {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  .es-disclaimer {
    font-size: $fs-disclaimer-mb;
    text-wrap: balance;
    @media (min-width: 1200px) {
      font-size: $fs-disclaimer-dt;
    }
  }

  .es-kv {
    &__right {
      &__logo,
      &__no1 {
        max-width: calc($media-breakpoint-lg / 3);
      }
      &__text {
        @include mt-regular();
        text-transform: uppercase;
        text-align: center;
        font-size: 26px;
        margin-block: $px-XL;
        &--bold {
          @include mt-bold();
        }
      }
      &__no1 {
        padding-inline: $px-XL;
      }
      &__disclaimer {
        text-align: center;
        margin-block: $px-M;
      }
    }
    &__left {
      &__img {
        display: none;
        @container es-rc-content (min-width: 576px) {
          display: block;
        }
      }
      &__bestseller {
        &__wrapper {
          position: relative;
        }
        &--txt {
          position: absolute;
          top: $px-M;
          left: 50%;
          padding: $px-XS $px-S;
          background-color: $color-accent-blue;
          color: $color-bg;
          transform: translateX(-50%);
          @include mt-bold();
          text-transform: uppercase;
          font-size: 15px;
          text-align: center;
        }
      }
      &__tradzik {
        &__wrapper {
          position: relative;
        }
        &--txt {
          position: absolute;
          top: $px-M;
          left: 50%;
          color: $color-bg;
          transform: translateX(-50%);
          @include mt-bold();
          text-transform: uppercase;
          font-size: 15px;
          text-align: center;
          display: flex;
          width: 100%;
          padding-inline: $px-M;
          &--ml {
            width: 64%;
          }
          &--dr {
            width: 36%;
          }
        }
      }
      @container es-rc-content (min-width: 576px) {
        position: relative;
        &__bestseller__wrapper,
        &__tradzik__wrapper {
          position: static;
        }
        &__bestseller--img,
        &__tradzik--img {
          display: none;
        }
        &__bestseller--txt {
          left: 16%;
        }
        &__tradzik--txt {
          padding-inline: 0;
          width: 66%;
          left: 66%;
        }
        &__bestseller--txt,
        &__tradzik--txt {
          top: $px-S;
        }
      }
      @container es-rc-content (min-width: 768px) {
        &__bestseller--txt,
        &__tradzik--txt {
          top: $px-L;
        }
        &__tradzik--txt {
          width: 50%;
          left: 74%;
          &--ml,
          &--dr {
            width: 50%;
          }
        }
      }
      @media (min-width: 1200px) {
        &__bestseller--txt,
        &__tradzik--txt {
          top: $px-M;
        }
        &__tradzik--txt {
          width: 37%;
          left: 50%;
        }
        &__bestseller--txt {
          left: 9%;
        }
      }
    }
    @media (min-width: 1200px) {
      position: relative;
      &__right {
        position: absolute;
        top: 0;
        right: 2%;
        z-index: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__logo,
        &__no1 {
          padding-inline: $px-XXL;
        }
        &__text {
          margin: $px-XL 0 $px-L 0;
        }
        &__disclaimer {
          margin-block: $px-S;
        }
      }
    }
  }

  // other sections

  // accessibility improvement for animations
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}
